body {

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(14, 3, 51);

}
#dice
{
    background-color: rgb(251, 51, 127);
    color: white;
    width: 100%;
    border-radius: 15px;
    font-family: fantasy;
}


#zero
{
    width: 100%;
    border-radius: 15px;
    background-color: rgb(0,83,255);
    color: white;
    font-family: fantasy;
   
}

#one{
  width: 160px;
  height: 160px;
}

#two{
  width: 160px;
  height: 160px;
}
  



  #myTable 
  {
  

    background-color: rgb(0,141,255);
    border-color: black
    
  }

  #score1
  {
    font-family: fantasy;
    color: rgb(14, 3, 51);
  }

  #score2
  {
    font-family: fantasy;
    color: rgb(14, 3, 51);
  }

  #result
  {
    font-family: fantasy;
    color: rgb(14, 3, 51);
    
  }

.container {
  max-width: 500px;
  width: 90%;
  padding: 20px;
}

img#image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  text-align: center;
  margin-top: 0px;
}

/* Tablet ve Mobil Boyutları İçin Stiller */
@media screen and (max-width: 768px) {
  table {
      font-size: 14px;
  }
  
  #firstdice,
  #seconddice {
      height: 120px;
      width: 120px;
  }
  
  td[colspan="2"] {
      text-align: center;
  }
}
